In [5]:
# impotando a classe Tabela, que manipula data frames do pandas, do módulo tabela
from tabela.tabela import Tabela

# 1 indica que a tabela é em excel, os demais parametros são os que iriam em pd.read_excel
tabela = Tabela('../Dados_EB.xlsx', sheet_name='Tabela 2.1', header=[1], sort_values_by_variavel='Salario (x Sal Min)')

In [6]:
# Tabela 2.1 - tabela original
tabela_2_1 = tabela.tab
tabela_2_1

,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Idade,Região de Procedência
0,solteiro,ensino fundamental,NaN,4.00,26.25,interior
1,casado,ensino fundamental,1.0,4.56,32.83,capital
2,casado,ensino fundamental,2.0,5.25,36.42,capital
3,solteiro,ensino médio,NaN,5.73,20.83,outra
4,solteiro,ensino fundamental,NaN,6.26,40.58,outra
5,casado,ensino fundamental,0.0,6.66,28.00,interior
6,solteiro,ensino fundamental,NaN,6.86,41.00,interior
7,solteiro,ensino fundamental,NaN,7.39,43.33,capital
9,solteiro,ensino médio,NaN,7.44,23.50,outra
8,casado,ensino médio,1.0,7.59,34.83,capital
10,casado,ensino médio,2.0,8.12,33.50,interior
11,solteiro,ensino fundamental,NaN,8.46,27.92,capital
12,solteiro,ensino médio,NaN,8.74,37.42,outra
13,casado,ensino fundamental,3.0,8.95,44.17,outra
14,casado,ensino médio,0.0,9.13,30.42,interior
15,solteiro,ensino médio,NaN,9.35,38.67,outra
16,casado,ensino médio,1.0,9.77,31.58,capital
17,casado,ensino fundamental,2.0,9.80,39.58,outra
18,solteiro,superior,NaN,10.53,25.67,interior
19,solteiro,ensino médio,NaN,10.76,37.33,interior
20,casado,ensino médio,1.0,11.06,30.75,outra
21,solteiro,ensino médio,NaN,11.59,34.17,capital
22,solteiro,ensino fundamental,NaN,12.00,41.00,outra
23,casado,superior,0.0,12.79,26.08,outra
24,casado,ensino médio,2.0,13.23,32.42,interior
25,casado,ensino médio,2.0,13.60,35.00,outra
26,solteiro,ensino fundamental,NaN,13.85,46.58,outra
27,casado,ensino médio,0.0,14.69,29.67,interior
28,casado,ensino médio,5.0,14.71,40.50,interior
29,casado,ensino médio,2.0,15.99,35.83,capital
30,solteiro,superior,NaN,16.22,31.42,outra
31,casado,ensino médio,1.0,16.61,36.33,interior
32,casado,superior,3.0,17.26,43.58,capital
33,solteiro,superior,NaN,18.75,33.58,capital
34,casado,ensino médio,2.0,19.40,48.92,capital
35,casado,superior,3.0,23.30,42.17,interior

In [7]:
# Tabela 2.2 - tabela de frequência e proporção para variável categórica 'Grau de Instrução'
tabela_2_2 = tabela.frequencia_proporcao('Grau de Instrução')
tabela_2_2

    Grau de Instrução  Frequência n_i  Proporção f_i
0  ensino fundamental              12       0.333333
1        ensino médio              18       0.500000
2            superior               6       0.166667

In [8]:
# Tabela 2.4 - tabela de frequência para variável contínua 'Salario (x Sal Min)' com amplitude 4
tabela_2_4 = tabela.frequencia_variavel_continua('Salario (x Sal Min)', 4)
tabela_2_4

  Classes de Salario (x Sal Min)  Frequência n_i
0                         [4, 8)              10
1                        [8, 12)              12
2                       [12, 16)               8
3                       [16, 20)               5
4                       [20, 24)               1